[2019-12-21 10:39] ArbitCode opened #1 "Algorithm for competative coding"
For a competitive coder, they are not able to find "how and from where should we start" at GU. When I was in the first year, I was confused about what should do or leave. If Technojam starts a GitHub repository dedicated to the competitive coder and its opportunity.

[2020-07-05 13:36] ashwanisng opened #3 "DSA for all language"
We can do DSA in C++, Java, Python to make a separate folder for all languages and anyone can start contributing to it.

[2020-07-05 13:38] #3 closed, assigned to nobody

[2020-07-05 13:40] ashwanisng opened #4 "DSA for all languages."
We can do DSA in C++, Java, Python, or any other language and anyone who is comfortable with it can contribute.

[2020-07-05 19:56] kpiyush04 commented on #4
Hi, @ashwanisng Thank You for the suggestion. As per now, we are implementing DSA with C++. We'll definitely consider the suggestion.

Thank You

[2020-09-02 03:13] #4 closed, assigned to nobody

[2020-09-02 03:16] danishjamal104 commented on #1
For a starting guide, you can visit the [developer-roadmap/dsa](https://github.com/technojam/developer-roadmap/tree/master/Data%20Structures%20And%20Algorithms), where we have resources to get started in different domains.

[2020-09-02 03:16] #1 closed, assigned to nobody

[2020-09-30 15:12] shreyanshdeep opened #15 "Add Basic Programs"
Add some basic algorithms to the  basic algorithms folder. Some sample programs are given below.

- **Check whether a number is prime or not**
- **Check whether a given string is plaindrome**
- **Count the frequency of all characters in a string**
- **Sum of all elements in an array**
- **Sum of diagonal elements of matrix of size n*n**
- **Print nth Fibonacci number**
- **Subtract 2 Matrix**
- **

[2020-09-30 15:30] arynn-gupta commented on #15
Would definitely like to work on this issue !

[2020-09-30 15:30] CodeSadhu commented on #15
@shreyanshdeep I'd like to take this up! Can you please assign it to me?

[2020-09-30 15:47] Bijoy-007 opened #17 "GCD(Euclidean algorithm)"
May i work on this?

[2020-09-30 15:54] icecreamcake101 commented on #15
i'd like to work on this too

[2020-09-30 15:59] iayushguptaaa commented on #15
hey @shreyanshdeep  I'd would like to contribute , Can you please assign it to me ?

[2020-09-30 16:05] Rituraj-commits commented on #15
Hello @shreyanshdeep  would love to work on this issue and make it more efficient. Looking Forward.

[2020-09-30 16:23] noman2002 commented on #15
I'd like to work on it. Please assign it to me .

[2020-09-30 17:14] yashaswinipai commented on #15
I'd like to work on it. Can you please assign it to me?

[2020-09-30 18:44] officiallysidsingh commented on #15
I would like to work on this. Please assign it to me.

[2020-09-30 19:26] Rishabhkapoor commented on #15
I'd like to work on it. Please assign it to me.

[2020-09-30 19:40] Rituraj-commits opened #26 "Prim's Minimum Spanning Tree"
I want to work on this issue

[2020-09-30 19:54] shreyanshdeep commented on #17
Please use the template for your issue

[2020-09-30 20:03] 180Gio commented on #15
@shreyanshdeep I would like to work on this. Could you assign this to me please?

[2020-09-30 20:19] dhruv-singhal-github opened #29 "Quick Sort"
**Title or Name of the Algorithm**
* Quick Sort

**Describe the algorithm**
Quicksort is a highly efficient sorting algorithm and is based on the partitioning of an array or the divide and conquer approach of data into smaller arrays. A large array is partitioned into two arrays one of which holds values smaller than the specified value, say pivot, based on which the partition is made and another

[2020-09-30 20:19] dhruv-singhal-github commented on #29
I can solve this issue

[2020-09-30 20:32] rishabharoraa opened #35 "Counting Sort"
**Title or Name of the Algorithm**
Counting Sort

**Describe the algorithm**
The algorithm simply counts the number of occurences of a number in a count array. This count array can be used as a more efficient way to calculate the position of elements in a sorted array when the numbers are small and repetitive.

[2020-09-30 20:34] dhruv-singhal-github opened #36 "Kosaraju Algorithm"
**Title or Name of the Algorithm**
* Kosaraju Algorithm

**Describe the algorithm**
Used to find strongly connected components in a graph.
It is based on the idea that if one is able to reach a vertex v starting from vertex u, then one should be able to reach vertex u starting from vertex v and if such is the case, one can say that vertices u and v are strongly connected - they are in a strongly c

[2020-09-30 20:35] dhruv-singhal-github commented on #36
I would love to work on this

[2020-09-30 20:36] yuktagopalani commented on #35
can i do it?

[2020-09-30 20:40] surya7765 commented on #35
Can i try to do it?

[2020-09-30 21:24] rishabharoraa opened #42 "Prim's Algorithm for minimum spanning tree"
**Title or Name of the Algorithm**
Prim's Algorithm for minimum spanning tree

**Describe the algorithm**
Prim's Algorithm is used to find the minimum spanning tree in a graph. It finds the subset of edges that includes every vertex of the graph such that the sum of the weights of the edges can be minimized. Prim's algorithm starts with a single node and explores all the adjacent nodes with all th

[2020-09-30 21:40] shreyanshdeep commented on #42
Hey @RishabhAroraa , this issue is already being worked on. :)

[2020-09-30 21:41] #42 closed, assigned to nobody

[2020-09-30 21:43] shreyanshdeep commented on #17
Yes sure but please give a brief description about it too. :)

[2020-09-30 23:37] ayerhs7 commented on #35
Hey! I would love to do this. Can you please assign this to me?

[2020-09-30 23:38] ayerhs7 commented on #26
Hey! I can do this. Kindly assign this task to me.

[2020-10-01 02:33] Hardik0307 opened #44 "Add Egg Dropping Problem"
**Egg Dropping Problem**

Egg dropping refers to a class of problems in which it is important to find the correct response without exceeding a (low) number of certain failure states. In a toy example, there is a tower of nn floors, and an egg dropper with mm ideal eggs. The physical properties of the ideal egg is such that it will shatter if it is dropped from floor n^*n  or above, and will have n

[2020-10-01 04:07] Tanishqpundir24510 commented on #15
@shreyanshdeep  I would like  to do  work on  it. Can you please assign this to me?

[2020-10-01 04:17] ishi0301 commented on #29
please  assign me this. I would like to do this in C/C++

[2020-10-01 04:33] dhruv-singhal-github commented on #36
PR #31 solves this

[2020-10-01 04:34] dhruv-singhal-github commented on #29
PR#31 solves this

[2020-10-01 04:52] 0xamitdutta opened #48 "Depth First Search"
**Title or Name of the Algorithm**
*Depth First Search*

**Describe the algorithm**
Depth-first search (DFS) is an algorithm for traversing or searching tree or graph data structures. The algorithm starts at the root node (selecting some arbitrary node as the root node in the case of a graph) and explores as far as possible along each branch before backtracking.

[2020-10-01 04:53] akankshast commented on #48
Please assign this issue to me. I will try my best to improve it.

Regards
Akanksha

[2020-10-01 04:54] 0xamitdutta commented on #48
I would like to work on this algorithm

[2020-10-01 04:57] 0xamitdutta commented on #48
Hey, you can open a new issue for Breadth First Search, if that's okay with you.

[2020-10-01 05:09] 0xdaya commented on #48
Hi, I am going to open a issue for bfs to contribute, is that okay?

[2020-10-01 05:13] ishi0301 commented on #29
@strongrunner can I proceed with it?

[2020-10-01 05:13] Harshit564 commented on #44
Assign this issue to me @Hardik0307

[2020-10-01 05:14] Harshit564 commented on #26
Please assign the issue to me.

[2020-10-01 05:24] Sanskar31 opened #50 "Kruskal’s Algorithm"
**Title or Name of the Algorithm**
 Kruskal’s Algorithm

**Describe the algorithm**
Kruskal's Algorithm finds the minimum spanning tree in an undirected graph in *O(ElogV)*, where E is the number of edges & V is the number of nodes. It falls under a class of algorithms called greedy algorithms that find the local optimum in the hopes of finding a global optimum. We start from the edges with the lo

[2020-10-01 05:26] Sanskar31 commented on #50
Please assign this to me. I will try to give a well commented solution of this problem.

[2020-10-01 05:31] vedanttttt commented on #48
assign this to me , i can do it.

[2020-10-01 05:35] sayush865 commented on #17
Hi, Can i work on it?

[2020-10-01 05:36] sayush865 commented on #15
hi, can i work on it?

[2020-10-01 05:36] Hardik0307 commented on #44
Already made PR.

[2020-10-01 05:37] ankur-kayal opened #55 "Kahn's Algorithm"
**Title or Name of the Algorithm**
Kahn's Algorithm

**Describe the algorithm**

In directed graphs, the most commonly asked question is about to find the **topological sort** of the **directed acyclic graph**. Kahn's Algorithm helps us to find the topological sort of the directed acyclic graph. One special task that Kahn's algorithm achieves is that it can be modified to find the **lexicographica

[2020-10-01 05:38] ankur-kayal commented on #55
Please assign me this issue. I can write a detailed explanation of the algorithms along with the different tasks that can be achived with the different implementations.

[2020-10-01 05:54] Ankitkumarjaiswal commented on #50
hey, I want to work on this issue. Please assign me this.

[2020-10-01 05:59] ganeshbhandarkar commented on #50
Please Assign it to me. thank you!

[2020-10-01 06:21] princekalra commented on #35
can u please assign it to me i am happy to conribute in this

[2020-10-01 06:28] Bijoy-007 commented on #17
I opened a PR
Please review

[2020-10-01 06:53] siddharthrajaraja commented on #50
@Sanskar31  assign me please

[2020-10-01 07:11] danishjamal104 commented on #17
@Bijoy-007
There is no PR linked with this issue, kindly do the same. And be more descriptive about the issue, update the title and comment for the same.

[2020-10-01 07:26] Bijoy-007 commented on #17
Please specify the folder so that I can open a PR

[2020-10-01 08:56] nits01 commented on #15
I would like to work on this.

[2020-10-01 08:59] nits01 commented on #29
I have created  #PR for Basic Algorithms Solutions/QuickSort. I have push the algorithm for QuickSort. #68

[2020-10-01 09:23] Harshsngh07 commented on #17
Is this still open?

[2020-10-01 09:27] tanishq-agarwal commented on #15
Can I take this one?

[2020-10-01 09:29] sabasaeed408 opened #74 "Merge Algo"
**MERGE ALGO IN C++**

**Describe the algorithm**
Merge algorithms are a family of algorithms that take multiple sorted lists as input and produce a single list as output, containing all the elements of the inputs lists in sorted order. These algorithms are used as subroutines in various sorting algorithms, most famously merge sort.
**Code of Algo**
#include <iostream.h>
int a[50];
void merge(int,

[2020-10-01 09:29] #74 closed, assigned to nobody

[2020-10-01 09:53] sdoss93212 commented on #26
I added prims algo
with issue number e04b6635b0acd1ff973e25f0820a4b61811521ee

[2020-10-01 10:50] amishaagarwal1998 commented on #55
Please assign to me! I can explain it well, along with the code.

[2020-10-01 11:54] crypticani opened #82 "Sorting Algorithms"
I want to contribute the repo with some programs in C language for sorting algorithms.
These are:
1. Bubble sort
2. Selection sort
3. Insertion sort
4. Quick sort
5. Merge sort

[2020-10-01 13:49] icecreamcake101 commented on #82
i'd like to grab this

[2020-10-01 13:49] Mohit123singh commented on #50
can u plz assign it to me?

[2020-10-01 13:54] crypticani commented on #82
I have forked this repo and will request a PR soon.

[2020-10-01 13:58] Bijoy-007 commented on #17
Please check PR

[2020-10-01 14:07] M-Akhil-pavan-sai commented on #82
can i contribute to this ? should i create a folder or is there any folder to upload the file.

[2020-10-01 14:12] tista123 commented on #82
Can I contribute to this issue?

[2020-10-01 14:44] M-Akhil-pavan-sai opened #87 "Linked List"
**Title or Name of the Data Structure**
A linked list is a linear data structure where each element is a separate object.
Linked list elements are not stored at contiguous location; the elements are linked using pointers.

**Describe the Data Structure**
Each node of a list is made up of two items - the data and a reference to the next node. The last node has a reference to null. The entry point i

[2020-10-01 14:46] M-Akhil-pavan-sai commented on #87
I would like to contribute code for Linked List Data Structure in C++

[2020-10-01 14:47] Jayesh-Borse commented on #48
Hello Amit,
        I would enjoy contributing to your repository. Please assign me the required task. I'll try my best to complete it as soon as possible and in the best way possible.

Thank you.
Regards.
Jayesh.

[2020-10-01 15:45] amanpatel23 commented on #48
Hey Amit,
I am eager to work on this.  Please assign this to me.

[2020-10-01 16:28] iamatul45 opened #90 "Dynamic Programming"
**Dynamic Programming**
* Knapsack Algorithm

**1.Fractional Knapsack Problem**
This is more of Greedy algorithm than dynamic programming

**2. 0/1 Knapsack Problem**
This is pure dynamic programming . Many problem are there to solve using this. Eg. Subset sum, Subset difference, Target Sum.

**3. Unbounded Knapsack Problem**
The main difference here is we allow repetition of items as compared to

[2020-10-01 16:31] iamatul45 commented on #15
Can I contribute to it?

[2020-10-01 16:33] rsrahul1000 opened #91 "Kadane's Algorithm"
**Dynamic Programming**
* Kadane's Algorithm

**Description**
An efficient way to find the sum of contiguous subarray within a one-dimensional array of numbers which has the largest sum.

[2020-10-01 16:34] tapanchudasama7 opened #92 "Counting Subarray with equal zeros and ones"
**Title or Name of the Algorithm**
Count number of Subarrays with Equal Zero and Ones

**Describe the algorithm**

1. Take a variable currSum.
2. Take the sum of the entire array considering all zeroes as -1 and 1 as 1.
3. Simultaneously keep updating the value of hashmap as you traverse through the array.
4. Now traverse through the hashmap and look if any value of currSum appears more than once.

[2020-10-01 16:35] rsrahul1000 commented on #91
Can you please assign this issue to me? I would love to work on it.
It will be useful for coding test preparation which involves dynamic programming :)

[2020-10-01 16:55] njain794 commented on #90
you can contribute but
1. add comments wherever needed
2. try adding recursive , top-down , bottom up approach for the 3 knapsack problems

[2020-10-01 16:58] varshatumburu opened #94 "Sieve of Eratosthenes"
**Algorithm**
* Finds all prime numbers under n

**Description**
Python program to print all primes smaller than or equal to n using Sieve of Eratosthenes.

[2020-10-01 17:06] #48 closed, assigned to nobody

[2020-10-01 17:14] imsubhra commented on #92
@inflame07  Can you please assign this issue to me? I would love to work on it.

[2020-10-01 17:15] sakshi0461 commented on #94
Claim

[2020-10-01 17:16] sakshi0461 commented on #92
@inflame07 Can you please assign this issue to me?

[2020-10-01 17:16] sakshi0461 commented on #91
@rsrahul1000 Can you please assign this issue to me?

[2020-10-01 17:17] sakshi0461 commented on #87
@M-Akhil-pavan-sai Can you please assign this issue to me?

[2020-10-01 17:18] sakshi0461 commented on #82
@crypticani Can you please assign this issue to me?

[2020-10-01 17:19] sakshi0461 commented on #55
@ankur-kayal Can you please assign this issue to me?

[2020-10-01 17:20] sakshi0461 commented on #35
@RishabhAroraa Can you please assign this issue to me?

[2020-10-01 17:20] sakshi0461 commented on #17
@Bijoy-007 Can you please assign this issue to me?

[2020-10-01 17:23] Sankalpagrawal commented on #94
Hi Please assign this to me

[2020-10-01 17:23] Bijoy-007 commented on #17
@sakshi0461 I already opened a PR for this one

[2020-10-01 17:24] zahinekbal commented on #91
@rsrahul1000 can you please assign this issue to me .....
i am working on it ......

[2020-10-01 17:24] akshat235 commented on #94
Hello, please assign this to me.

[2020-10-01 17:27] sakshi0461 commented on #90
@iamatul45 Can you please assign this issue to me?

[2020-10-01 17:28] sakshi0461 commented on #36
@strongrunner Can you please assign this issue to me?

[2020-10-01 17:28] ghost commented on #15
I would like contribute in this. Please assign me the issue.

[2020-10-01 17:29] akshat235 commented on #92
@inflame07 Hello, please assign this issue to me.

[2020-10-01 17:31] sanchit000 commented on #92
I would like to work on this issue.

[2020-10-01 17:31] sanchit000 commented on #91
Can you please assign this issue to me? I would love to work on it.

[2020-10-01 17:39] ravisaxena23 commented on #94
Hey @Sankalpagrawal  @akshat235 @sakshi0461 please work whoever finish first we will merge it, for other pr we won't reject them if they are correct no issue

[2020-10-01 17:39] karan-kunwar commented on #94
@varshatumburu I would like to make this program.

[2020-10-01 17:39] rsrahul1000 commented on #91
The Kadane's Algorithm has been already merged #93
Feel free to add an issue for a new algorithm you guys want to add to this repository.
Only the owner or a collaborator of the repository can assign the issue to the people who are requesting it.

As of now, I am closing this issue :)

[2020-10-01 17:39] #91 closed, assigned to nobody

[2020-10-01 17:46] varshatumburu commented on #94
Thank you all, but I have already worked upon this.

[2020-10-01 17:46] #94 closed, assigned to nobody

[2020-10-01 18:00] akshat235 commented on #92
Please assign this to me.

[2020-10-01 18:19] iamatul45 commented on #90
@sakshi0461 Yes you can contribute.

[2020-10-01 18:31] MohakChugh commented on #17
I've added a PR for this, Please review

[2020-10-01 18:31] akshat235 commented on #94
Hi! @ravisaxena23  Submitted a pull request as mentioned above.

[2020-10-01 18:32] devanshi-katyal commented on #15
I would like to work on an issue!

[2020-10-01 18:49] VinWare opened #109 "String ATOI implementation"
**Title or Name of the Algorithm**
* ATOI for C++ string

**Describe the algorithm**
Converts a string to int, counting only the leading valid characters (digits or sign). Ignores leading spaces. Assumes string fits in given size of int (overflows if string is too big).

[2020-10-01 18:54] aayushwadhwa1 commented on #109
Can I take up this?

[2020-10-01 18:56] guptaa98 commented on #15
I would like to work on an issue. Please assign me one

[2020-10-01 19:01] shushriya6998 commented on #109
Hi,

I am interested in solving this. Can I solve this?

[2020-10-01 19:01] VinWare commented on #109
Mate I just made a pull request. This issue was for my PR

[2020-10-01 19:01] VinWare commented on #109
See you can look into other algos in the String folder. Create your own issue and make a PR

[2020-10-01 19:38] nanusharma2001 commented on #90
can you assign this issue to me?

[2020-10-01 19:48] RAJAT-SOUL commented on #87
I would like to add the easier version of the linked list so that one can understand the real working of how do elements move.

[2020-10-01 20:08] Codedude1 commented on #15
Is it still open? I want to contribute.

[2020-10-01 20:15] PauloVLB opened #118 "Add Prefix Sum Array"
**Title or Name of the Algorithm**
* Prefix Sum Array

**Describe the algorithm**
Given an array of n integers, this algorithm returns the the sum of values in range [a, b]

[2020-10-01 20:18] shushriya6998 commented on #118
Can I solve this? I'll be using C++. Thanks!

[2020-10-01 20:24] #118 closed, assigned to nobody

[2020-10-01 20:27] surya7765 commented on #35
Please review my pull request #120

[2020-10-01 20:29] CoderSaty opened #121 "[NEW Algorithm]"
**Title or Name of the Algorithm**
* Juggling Algorithm

**Describe the algorithm**
The algorithm rotates the arr[] of size n by d elements.
Time complexity:- O(n)
Space Complexity:- O(1)

[2020-10-01 20:31] aayushwadhwa1 commented on #121
Can I work on this?

[2020-10-01 20:33] shushriya6998 commented on #121
I would like to work on this using C++. Please assign. Thanks!

[2020-10-01 20:45] princekalra commented on #121
hey can i contribute on this

[2020-10-01 20:47] princekalra commented on #26
hey please assign me issue

[2020-10-01 20:50] princekalra commented on #90
hey can i contribute on this

[2020-10-01 20:57] princekalra commented on #55
hey can i contribute on this

[2020-10-01 20:57] princekalra commented on #50
hey can i contribute on this

[2020-10-01 20:59] dalalvarun commented on #87
Please assign this to me. I am efficient in Linked Lists. (Linear LL using Arrays, Linear, Circular, Doubly Linked, Circular Doubly-Linked, Header Linked List and Polynomial Representation using Linked Lists)

[2020-10-01 21:05] dalalvarun opened #122 "Stacks and its associated functions"
18)Stacks

- Stack implementation using array
- Stack implementation using Linked List
- Multiple Stack
- Parenthesis Checker
- Infix to Postfix
- Infix to Prefix
- Prefix evaluation
- Postfix Evaluation

I can do this. Please assign to me

[2020-10-01 21:25] MohakChugh opened #123 "Traversal of a 2D matrix in a clockwise spiral"
## Traversal of a 2D matrix in a clockwise spiral

Given a 2D array, Traverse the array in a spiral form.
See the following examples.

Examples:
[code]
Explanation :The output is matrix in spiral format.

[2020-10-01 21:30] MohakChugh opened #124 "Checking Anagrams"
## Checking Anagrams

An Algorithm which checks if two strings are anagrams or not

Example: teststring & strtesting are anagrams of each other

[2020-10-01 21:32] vortex2099 commented on #123
Can you assign me this problem?

[2020-10-01 21:37] shushriya6998 commented on #123
I want to contribute to this issue. Will be using C++. Please assign me. Thanks!

[2020-10-01 22:43] Namanmittal0007 commented on #121
@CoderSaty  I would like to be assigned with this task, I can implement juggling algorithm which rotates the arr[] of size n by d elements
Time complexity=O(n)
Space complexity=O(1)

[2020-10-01 22:56] #44 closed, assigned to nobody

[2020-10-01 22:59] #50 closed, assigned to Sanskar31

[2020-10-01 23:01] shreyanshdeep commented on #82
@crypticani  can you do it in c++ ??

[2020-10-01 23:05] shreyanshdeep commented on #87
Hey @M-Akhil-pavan-sai , before pushing your code, create 2 folders.
1. Data structures
2. Inside 1st folder create a linked list named folder and add your code into this

[2020-10-01 23:11] #109 closed, assigned to VinWare

[2020-10-01 23:34] #15 closed, assigned to nobody

[2020-10-02 00:15] PauloVLB opened #128 "Prefix Sum Array"
**Title or Name of the Algorithm**
* Prefix Sum Array

**Describe the algorithm**
Given an array of N integers, this algorithm processes Q queries of the form: what is the sum of values in range [A,B]?

[2020-10-02 00:27] aniketrochwani commented on #128
Can you assign me this task?

[2020-10-02 01:45] crypticani commented on #82
@shreyanshdeep Sorry, but I only code in C, Python, Java and C#.

[2020-10-02 02:09] kgolder92 commented on #123
Can I work on this? I solved this problem in JavaScript

[2020-10-02 02:16] mahimagoyalx opened #130 "Russian Peasant Algorithm"
**Title or Name of the Algorithm**
* Russian Peasant Algorithm

**Describe the algorithm**
Multiplying two numbers without using '*' operator by bit manipulation.

[2020-10-02 02:16] mahimagoyalx commented on #130
I would like to work on this issue.

[2020-10-02 02:19] Bijoy-007 commented on #17
@MohakChugh I was assigned for this one

[2020-10-02 02:20] mahimagoyalx opened #131 "Bleak Number"
**Title or Name of the Algorithm**
Bleak Number

**Describe the algorithm**
A number is called Bleak if it cannot be represented as sum of a positive number 'x' and set bit count in 'x', i.e.,
x + countSetBits(x) is not equal to n for any non-negative number x.

[2020-10-02 02:21] mahimagoyalx commented on #131
I would like to work on this issue.

[2020-10-02 02:25] mahimagoyalx opened #132 "Knuth Morris Pratt Algorithm"
**Title or Name of the Algorithm**
Knuth Morris Pratt Algorithm

**Describe the algorithm**
A string matching algorithm

[2020-10-02 02:25] mahimagoyalx commented on #132
I would like to work on this issue.

[2020-10-02 02:28] Bijoy-007 opened #133 "LCS[NEW Algorithm]"
**Title or Name of the Algorithm**
LCS
* enter name of the algorithm here
LONGEST COMMOM SUBSEQUENCE

**Describe the algorithm**
A brief description of what your algorithm does
LCS is a dynamic programming algorithm. Given 2 strings we've to find the longest common subsequence
ex :  A = "abbcdef"  ,  B = "acddfcb"
       LCS = "adef"

[2020-10-02 02:30] Bijoy-007 commented on #133
Can I work on this?

[2020-10-02 03:15] #130 closed, assigned to mahimagoyalx

[2020-10-02 03:21] #128 closed, assigned to PauloVLB

[2020-10-02 03:27] M-Akhil-pavan-sai commented on #87
@shreyanshdeep Thank you for assigning ,I will do my best.

[2020-10-02 03:29] mahimagoyalx commented on #132
Please reopen my pull request and remove the invalid tag. @shreyanshdeep

[2020-10-02 04:53] AyushRajSharma commented on #122
i can do this please assign me

[2020-10-02 04:57] AyushRajSharma commented on #82
i can do it in c , c++, python.
if it is still not assigned assign me.

[2020-10-02 05:18] vinaypathak07 opened #142 "Extended Euclids Algo"
**Title or Name of the Algorithm**
* Extended Euclids Algo

**Describe the algorithm**

- Extended Euclidean algorithm finds integer coefficients x and y such that:

  ax + by = gcd(a, b)

- It is also used to find multiplicative modulo inverse of a w.r.t  b

[2020-10-02 05:21] vinaypathak07 commented on #142
I would like to work on it.

[2020-10-02 05:28] tejasbirsingh opened #143 "0/1 KnapSack algorithm | Dynamic Programming"
**Title or Name of the Algorithm**
* 0/1 KnapSack Algorithm using Dynamic Programming in C++

**Describe the algorithm**
0/1 Knapsack is very important problem which creates the base for dynamic programming using which you can solve various problems such as Subset Sum Problem,Equal Sum Partition Problem.
In 0/1 knapsack problem we are a sack and some items and we have to add items in sack but sack

[2020-10-02 05:29] tejasbirsingh commented on #143
Please assign this to me! I will write clean code and write the comments for every line to explain it . Thanks

[2020-10-02 05:32] Trinadh21 commented on #142
I would love to work on this issue, I have experience in programming in languages in C,C++ for quite a long time. Please add me to this issue.

[2020-10-02 05:37] yashasvi25 opened #144 "Rotated Sorted Array Search"
Rotated Sorted Array Search using Binary Search

Given an array of integers A of size N and an integer B. Array A is rotated at some pivot unknown to us beforehand.A target value B is given to search. If found in the array, the algorithm return its index, otherwise return -1.

[2020-10-02 05:37] yashasvi25 commented on #144
I would like to work on this. Please assign me this issue.

[2020-10-02 05:39] Manavi18 commented on #144
I can implement this is python.

[2020-10-02 05:44] ankur-kayal commented on #55
@shreyanshdeep Pull request added 👍

[2020-10-02 05:47] maneprajakta opened #147 "Find sum of all right leaves in a given Binary Tree ."
In Tree data structure i want to add how to find sum of all right leaves in BST.
I can do this in C++ along with an explanation can I do this .

[2020-10-02 06:02] ashutoshkumar6 opened #151 "Lowest Common Ancestor in Binary-Tree"
*LCA**
* Lowest Common Ancestor in Binary-Tree

Let T be a rooted tree. The lowest common ancestor between two nodes n1 and n2 is defined as the lowest node in T that has  both n1 and n2 as descendants.

[2020-10-02 06:02] IamODJ opened #152 "Radix Sort"
Radix Sort.

-  Radix sort is a non-comparison based sorting algorithm which uses counting sort as a subroutine.
-  Currently the repo has counting sort but for higher range of integers, Radix sort performs better.

I would like to work on radix sort, Please assign me the issue.

[2020-10-02 06:02] panktishah62 commented on #144
I can implement this in C/C++/Python/Java. Please assign this to me.

[2020-10-02 06:03] Pacifier25 commented on #152
can i work in this issue

[2020-10-02 06:03] satyamsaran commented on #82
I can add all the sorting algos like bubble, insertion, selection, quick, merge(iterative and recursive), count, bin/bucket, radix and shell sort.
I code in c++.
Please assign me this task.

[2020-10-02 06:04] tusharsbauskar commented on #143
I would like to work on this. Kindly assign me this issue.

[2020-10-02 06:06] satyamsaran commented on #147
The idea is to traverse the tree starting from the root and check if the node is the leaf node or not. If the node is the right leaf than add data of right leaf to sum variable.

I can code it in c++ if you assign me.

[2020-10-02 06:10] iayushguptaaa opened #153 "Reverse Linked list"
I want to contribute to this Repo with:
1. Reversing the linked list using Recursion.
2. Reversing the linked list without Recursion.

[2020-10-02 06:10] #153 closed, assigned to nobody

[2020-10-02 06:12] iayushguptaaa opened #154 "LinkedList Reversing"
I want to contribute to this Repo with:

Reversing the linked list using Recursion.
Reversing the linked list without Recursion.

[2020-10-02 06:16] iayushguptaaa opened #155 "Topics of Mathematics for Coders"
#28

[2020-10-02 06:17] rudrajit1729 commented on #143
I would like to implement the algorithm in Python and C along with CPP. Kindly assign this to me. Thanks.

[2020-10-02 06:19] pranjalkumar153 commented on #151
Please assign this task to me.

[2020-10-02 06:21] Renu-code commented on #144
I want to work on this issue.  Please assign it to me ??

[2020-10-02 06:22] aishwarya-45 commented on #151
Kindly assign this task to me. I can explicitly explain the complete algo with well commented code in C++.

[2020-10-02 06:22] rudrajit1729 opened #156 "[Karp-Rabin String Matching Algorithm]"
**Title or Name of the Algorithm**
* Karp Rabin String Matching Algorithm

**Describe the algorithm**
Given a text and a pattern,  write a function that prints all occurrences of pattern in text.
Karp-Rabin algorithm slides the pattern one by one like the naive algorithm. But unlike the Naive algorithm, it matches the hash value of the pattern with the hash value of current substring of text, and

[2020-10-02 06:23] rudrajit1729 commented on #156
I would like to be assigned

[2020-10-02 06:25] aishwarya-45 commented on #143
I can explain this algo explicitly and write well commented code using top-down and bottom-up approach both. Please assign this task to me. Thanks.

[2020-10-02 06:26] rudrajit1729 commented on #156
I would like to work on this

[2020-10-02 06:30] rudrajit1729 commented on #156
Please assign this to me

[2020-10-02 06:40] aishwarya-45 opened #158 "[Pigeonhole Sorting]"
**Title or Name of the Algorithm**
* Pigeonhole Sorting

**Describe the algorithm**
Pigeonhole sorting is a sorting algorithm that is suitable for sorting lists of elements where the number of elements and the number of possible key values are approximately the same.
It requires O(n + Range) time where n is the number of elements in the input array and ‘Range’ is a number of possible values in the

[2020-10-02 06:41] aishwarya-45 commented on #158
I would like to work on this issue. Can I work?

[2020-10-02 06:47] Manavi18 commented on #158
I can implement this in python.

[2020-10-02 06:47] akshat235 commented on #158
Please assign this to me.

[2020-10-02 07:10] rudrajit1729 commented on #143
@tejasbirsingh Kindly allot the task. I have finished the task and would like to contribute here once allowed.

[2020-10-02 07:29] vishal-bhola opened #165 "Bubble Sort"
**Title or Name of the Algorithm**
* Bubble Sort

**Describe the algorithm**
Bubble Sort is the simplest sorting algorithm that works by repeatedly swapping the adjacent elements if they are in wrong order.

[2020-10-02 07:33] ymchandaliya commented on #165
@VersatileVishal I would like to work on this. Please assign this to me. I can implement it in C, C++, Python, Java

[2020-10-02 07:37] vishal-bhola commented on #165
@ymchandaliya  Only the maintainer of this repo can assign although i have implemented this in C already.

[2020-10-02 07:39] vishal-bhola commented on #165
@shreyanshdeep i have already made a PR for this. Please, assign it to me and now you can close the PR as well.

[2020-10-02 07:41] zahinekbal commented on #165
@VersatileVishal I would like to work on this issues please assign it to me  I want to Implement BUBBLE_SORT with C++ STL
using comparator function......

[2020-10-02 07:46] ghost opened #170 "djikstra implementation in graphs"
I want to implement djikstra algorithm for weighted graph in c++ ,can i do it?

[2020-10-02 07:47] vishal-bhola commented on #165
@zahinekbal i think only the maintainer can assign.

[2020-10-02 07:50] AyushRajSharma commented on #82
Added sorting algorithm #169

[2020-10-02 07:51] zahinekbal commented on #165
So how we will know who is maintainer  for assigning the task ..

[2020-10-02 07:52] M-Akhil-pavan-sai commented on #87
PR raised - #171

[2020-10-02 07:53] Anmol55555 commented on #123
please assign me this problem. Thanks.!

[2020-10-02 07:58] zahinekbal commented on #165
@shreyanshdeep I added BubbleSort_STL.C++ ,used comparator function..
please check my code & review my PR

[2020-10-02 07:59] Sayantan-world commented on #165
Can u assign it to me? want to do it in Python.

[2020-10-02 08:08] akhil-singh-parmar commented on #87
please assign me this issue I will add all the required algorithms for reversing linked list , finding loop and removing loop .

[2020-10-02 08:37] princekalra commented on #165
i want to work  on this please assign it to me

[2020-10-02 08:38] princekalra commented on #158
i want to work  on this please assign it to me

[2020-10-02 08:39] princekalra commented on #156
i want to work  on this please assign it to me

[2020-10-02 08:39] princekalra commented on #152
i want to work  on this please assign it to me

[2020-10-02 08:40] princekalra commented on #151
i want to work  on this please assign it to me

[2020-10-02 08:40] princekalra commented on #143
i want to work  on this please assign it to me

[2020-10-02 08:41] princekalra commented on #142
i want to work  on this please assign it to me

[2020-10-02 08:47] princekalra commented on #82
i want to work  on this please assign it to me

[2020-10-02 09:14] amishaagarwal1998 opened #174 "[NEW Algorithm]"
**Easy implementation for binary search**

A standard way to go through all binary search problems

[2020-10-02 09:15] amishaagarwal1998 commented on #174
I would like to work on this. I can explain the algorithm well along with some examples.

[2020-10-02 09:26] aayushwadhwa1 commented on #121
I have created a Pull Request, can you please check

[2020-10-02 09:26] aayushwadhwa1 commented on #121
and can you tell me how to link pull request to an issue?

[2020-10-02 09:37] Zeeshan-2k1 opened #177 "Heap Sort"
**Heap Sort**

**Description**
Heap sort is a comparison based sorting technique based on Binary Heap data structure. It is similar to selection sort where we first find the maximum element and place the maximum element at the end. We repeat the same process for the remaining elements.

[2020-10-02 09:39] CoderSaty commented on #177
I can do it with C++ please assign it to me.

[2020-10-02 09:39] prabhdeepsingh3499 commented on #177
I can do it in python, please assign it to me.

[2020-10-02 09:46] coding-sourabh commented on #177
I wil implement in CPP , please assign it to me

[2020-10-02 09:51] Renu-code commented on #158
I can implement this...can you assign this issue to me??

[2020-10-02 09:53] Renu-code commented on #152
I can implement this... can I work on this issue??

[2020-10-02 10:25] himik-nainwal commented on #177
I want to do with python 3 please assign me.

[2020-10-02 12:08] rudrajit1729 commented on #156
Sure. Go ahead.

[2020-10-02 12:42] Namanmittal0007 commented on #121
https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue, Hope this helps.

[2020-10-02 12:44] roastedcoder commented on #143
I can explain 0/1 knapsack and all it's variations with intuition behind to solve those problem mentioned.

[2020-10-02 17:04] dalalvarun commented on #122
@technojam Please assign it to mee

[2020-10-02 21:20] saranshkhulbe7 opened #188 "Coin Problem | Optimal Strategy for a Game"
**Optimal Strategy for a Game**

*Description : *

Consider a row of n coins of values v1 . . . vn, where n is even. We play a game against an opponent by alternating turns. In each turn, a player selects either the first or last coin from the row, removes it from the row permanently, and receives the value of the coin. Determine the maximum possible amount of money we can definitely win if we mov

[2020-10-02 21:27] saranshkhulbe7 commented on #188
I would like to work on it. Please assign it to me.

[2020-10-03 03:33] H4R5H1T-007 opened #191 "Z and Manachar's algorithms"
**Some Algorithms for Strings which should be added.**

* Z Algorithm
This Algorithm finds the count of given pattern in the given string in O(N) complexity and O(N) space.
* Manachar's Algorithm
This Algorithm gets us the maximum length substring which is palindrome in complexity of O(N) and space of O(N).

I think both Algorithms are useful for Competitive Programming and should be there in this

[2020-10-03 03:35] H4R5H1T-007 commented on #191
I have coded this algorithms so can I send PR to merge this algorithms??

[2020-10-03 03:51] sarveshvhawal007 opened #193 "[NEW Algorithm] N-Queen problem"
**BackTracking Algorithm**
* Famous N-Queen Problem

**Describe the algorithm**
When Given a number n as input
It outputs the number of ways of arranging queens in that NxN chessboard such that no two queens can kill each other.

for eg: n=4
there are two possible ways which are outputted like this-
---------------------------
.Q..
...Q
Q...
..Q.
---------------------------
..Q.
Q...
...Q
.Q..
---

[2020-10-03 03:52] sarveshvhawal007 commented on #193
Please Assign it to me...
I have pulled the request and made the necessary changes

[2020-10-03 04:14] sumitk63 commented on #193
Can i work on this?

[2020-10-03 04:44] sarveshvhawal007 opened #195 "[NEW Algorithm] Generating_All_Valid_Paranthesis(Recursion)"
**Title or Name of the Algorithm**
Generating_All_Valid_Paranthesis using Recursion
Famous Interview problem of recursion

**Describe the algorithm**
If we are given a number (>0) as input.
Output all valid permutations using "(" and ")" only.
for eg: n=1
( ) is valid
(( , )) ,)( are invalid
-------------------------------
n=2
( ( ) ) , ( )( ) are only valid and others are invalid.

and so on.

[2020-10-03 04:44] sarveshvhawal007 commented on #195
Can I work on this?

[2020-10-03 04:59] ankur-kayal commented on #55
@shreyanshdeep  can you merge my request? If not, please tell me the issues 👍

[2020-10-03 05:52] Capt-Titanium commented on #193
I can send a PR now. please assign.

[2020-10-03 06:05] Subhas-08 opened #197 "Bellman-Ford Algorithm"
Bellman-Ford Algorithm

It's a simplest Graph algorithm to find shortest path. It can be work in negative weight edges also

[2020-10-03 06:07] Prod-IP commented on #197
may I work on this issue ??

[2020-10-03 06:08] coding-sourabh commented on #197
please assign this to me

[2020-10-03 06:09] nprakhar0411 opened #198 "Depth First Search will not work if the graph is disconnected"
The algorithm provided in DepthFirstSearch.cpp assumes the the graph is connected and we traverse all vertices on  a single call to vertex numbered 1.
Correct way should be:
`for(int i = 1; i <= nodes; ++i){`
`    	if(!visited[i]){`
`    		dfs(i);`
`    	}`
 `}`

[2020-10-03 06:20] iFrogHop2Worlds opened #199 "Longest common sequences given 2 strings"
given 2 strings return the longest common sequences

[2020-10-03 06:20] Subhas-08 commented on #197
@Prodip-Kumar-Paul  yaeh

[2020-10-03 06:21] iFrogHop2Worlds commented on #199
please approve this. Sorry for jumping the gun before. I am newbie with opensource

[2020-10-03 06:21] Subhas-08 commented on #197
@coding-sourabh  sorry this given to someone ,plz go with another issue or add new issue

[2020-10-03 07:58] #156 closed, assigned to nobody

[2020-10-03 08:44] ghost opened #203 "String reverse program in c++ prgramming"
Write a simple c++ code to reverse a string and explain the method followed in comments.

[2020-10-03 08:56] zahinekbal opened #204 "[Kadane's Algorithm]"
**Title or Name of the Algorithm**
* Kadane's Algorithn

**Describe the algorithm**
Kadane's algorithm is a Dynamic Programming approach to solve “the largest contiguous elements in an array” with  O(n) runtime complexity and O(1) space.

[2020-10-03 08:58] Uyadav207 commented on #204
@zahinekbal , please assign this to me.

[2020-10-03 08:59] rahulsawlani22 commented on #204
I know this well, do I just have to write a program for it?
assign it to me.

[2020-10-03 09:09] #203 closed, assigned to nobody

[2020-10-03 09:57] BetaZeon opened #212 "[Minimum spanning tree - Prim's algorithm]"

[2020-10-03 10:05] gunjan543 commented on #212
I want to contribute in this

[2020-10-03 10:18] gunjan543 commented on #212
I created a pull request.

[2020-10-03 10:42] Harshit564 opened #214 "Topological sorting for Directed Acyclic Graph"
**Topological sorting for Directed Acyclic Graph**

**Describe the algorithm**
Topological sorting for Directed Acyclic Graph (DAG) is a linear ordering of vertices such that for every directed edge uv, vertex u comes before v in the ordering.

[2020-10-03 11:21] pathak-abhinav opened #218 "Add algorithms for bit manipulation"
**Title or Name of the Algorithm**
Brian Kernighan's ALgorithm

**Describe the algorithm**
A simple yet efficient algorithm that counts no. of set/high bits in an unsigned integer.

[2020-10-03 11:47] zatch3301 commented on #218
Can i work on this?

[2020-10-03 13:42] Abhishek-7017 commented on #188
please assign me this task.

[2020-10-03 13:52] Abhishek-7017 opened #221 "GREEDY ALGORITHM | | Money Problem"
In this problem, we will use a greedy algorithm to find the minimum number of coins/ notes that could makeup to the given sum. For this we will take under consideration all the valid coins or notes i.e. denominations of { 1, 2, 5, 10, 20, 50 , 100, 200 , 500 ,2000 }. And we need to return the number of these coins/notes we will need to make up to the sum.

Example-
    Input : 1231
    Output : 7

[2020-10-03 13:56] Ace117MC commented on #221
Please assign this to me .
And 1st example have answer 6 - 500+500+200+20+10+1

[2020-10-03 13:56] sachajoy commented on #221
@Abhishek-7017 please assign it to me
c++ or python any language

[2020-10-03 14:10] verma-pulkit commented on #221
Assign this to me, i can do this

[2020-10-03 15:09] #82 closed, assigned to nobody

[2020-10-03 16:58] SamarthMayya commented on #221
This problem can be easily solved by using a dp array... Are we given the constraint on the total sum?

[2020-10-03 17:01] SamarthMayya commented on #221
If the total sum is of the order 1e5-1e7, then it can be solved by means of a dp very fast

[2020-10-03 17:34] danishjamal104 opened #225 "[BUG] Readme file required changes in Pull Request Section"
### Description
Delete [.DS_Store](https://github.com/technojam/Ultimate_Algorithms_Repository/blob/master/.DS_Store) file.
Update [Reame.md](https://github.com/technojam/Ultimate_Algorithms_Repository/blob/master/README.md#pull-request-process) file.

[2020-10-03 22:05] shreyanshdeep commented on #225
Reopening this issue because I feel there are more changes needed to be made to the readme.md file.

[2020-10-04 06:05] SMITVASOYA commented on #165
I want to contribute it please assign @VersatileVishal.

I will implement using c language.

[2020-10-04 07:45] Anushka-codergirl opened #231 "[NEW Algorithm]Divide and Conquer Algorithm"
**Divide and Conquer Algorithm**
* Divide and Conquer Algorithm

**Describe the algorithm**
A divide and conquer algorithm is a strategy of solving a large problem by
1.breaking the problem into smaller sub-problems
2.solving the sub-problems, and
3.combining them to get the desired output.

[2020-10-04 07:45] amishaagarwal1998 commented on #174
Can I go ahead with it?

[2020-10-04 08:12] Rishabrp99 commented on #231
Hey @Anushka-codergirl ,this is Rishab here ,Can you assign this to me this is my first time contributing to open source.

[2020-10-04 08:32] gaurangisinha commented on #231
Hello @Anushka-codergirl, this is the first time I am contributing to open source and I am very keen on contributing to this issue. Please assign it to me.

[2020-10-04 08:52] Uyadav207 opened #233 "[Linked-List] FAANG Interview Questions"
**Linked-List Questions*

**Describe the algorithm**

- Contributing Linked-List Questions

## Area covered

- [x] Implementations
- [x] Interview Questions
- [x] No of question : 15

[2020-10-04 09:17] Samridhi-98 commented on #233
Added a solution of add two numbers please check.

[2020-10-04 12:08] YashShah85 commented on #124
I have this algorithm in Java

[2020-10-04 18:30] Kirtiahuja opened #242 "Linked List basic functions[NEW Algorithm]"
**Basic functions:adding a node,subtracting a node etc**
Linked list function
**Helps in understanding the basic operations to be performed on linked list**
knowing basic linked list functions would make better understanding of data structures

[2020-10-04 18:40] Oreo-san commented on #242
May I start working on this @Kirtiahuja? Would be happy to contribute :smiley:

[2020-10-04 18:47] shikhar8434 commented on #242
I would love to contribute too

[2020-10-04 18:50] garimamishraa commented on #242
I would wanna contribute

[2020-10-04 18:53] shikhar8434 commented on #233
Added Two Linked lists problems, counting nodes and max &min #241

[2020-10-04 19:13] ShristiAgrawal opened #251 "Sudoku Solver backtracking"
**Title or Name of the Algorithm**
* Sudoku solver

**Describe the algorithm**
Solves the 9*9 sudoku with backtracking(Accepted on leetcode)
[sudoku solver.docx](https://github.com/technojam/Ultimate_Algorithms_Repository/files/5324141/sudoku.solver.docx)

[2020-10-04 19:24] gargig412 opened #252 "Circular Queue Implementation[NEW Algorithm]"
**Implementation of Circular Queue**

_A queue is an abstract data structure that contains a collection of elements._

- A circular queue is a kind of queue in which the last position is connected to the first position just to make a complete circle. It implements the FIFO mechanism (the element that is inserted first is also deleted first)

[2020-10-04 20:20] avinashbest commented on #252
I would like to work on it.

[2020-10-04 20:25] abhishekrawe commented on #252
i would  like to work on it

[2020-10-04 20:28] sejalrastogi commented on #165
I want to work on this. I will implement this in Java.

[2020-10-04 20:37] avinashbest commented on #252
In which directory I have to push the code? can u guide me?

[2020-10-04 22:42] Sweta040799 commented on #214
If this is still unsolved.Can I solve this issue

[2020-10-05 02:36] Kakarot-2000 opened #256 "[NEW Algorithm]DP problems"
**DP problems**
_Dynamic Programming_
1. Wildcard Matching
Given an input string (s) and a pattern (p), implement wildcard pattern matching with support for '?' and '*'.
2. Box Stacking
LIS variant

[2020-10-05 05:45] harshitgupta2000 commented on #231
@Anushka-codergirl please assign it to me

[2020-10-05 14:29] KalyanKumar-4 commented on #256
only algorithm or full program?

[2020-10-05 15:03] gaurangisinha commented on #165
Hello, @VersatileVishal I want to do this in JavaScript, could you please assign this to me.

[2020-10-05 15:45] Kakarot-2000 commented on #256
@KalyanKumar-4 I've added the full code.

[2020-10-05 19:37] Dipika98 opened #266 "Longest Common Prefix"
**Title or Name of the Algorithm**
* Longest Common Prefix

**Describe the algorithm**
 this algorithm returns the longest common prefix string amongst an array of strings.

[2020-10-05 19:46] danielskjo commented on #266
Hi @Dipika98 Can I be assigned this algorithm?

[2020-10-05 20:38] pathak-abhinav commented on #218
please review the PR#219

[2020-10-06 06:09] Dipika98 commented on #266
PR #269

[2020-10-06 06:42] thezaeemaanwar commented on #266
hi @Dipika98 I want to contribute

[2020-10-06 07:19] umangag07 opened #270 "Tower Of Hanoi"
**Title or Name of the Algorithm**
* Tower Of Hanoi

**Describe the algorithm**
It is basically a puzzle algorithm in which we have 3 rods(A, B, C) and n no of disk . We have to move the whole stack from one rod to different rod. It has few rules-:

1) Only one disk can be moved at a time.
2) Only topmost disk can be shifted to another rod.
3) Bigger disk cannot be placed on smaller disk .

It is

[2020-10-06 07:29] krag-harsh commented on #270
can i work on it?

[2020-10-06 07:40] umangag07 commented on #270
Owners to this repository will assign the issue.

[2020-10-06 07:41] umangag07 commented on #270
And i have done the code and analysis i am ready to merge if they assign.

[2020-10-06 09:55] raevi-yadav opened #273 "Insertion Sort"
Insertion Sort

Insertion sort is a simple sorting algorithm that works similar to the way you sort playing cards in your hands. The array is virtually split into a sorted and an unsorted part. Values from the unsorted part are picked and placed at the correct position in the sorted part.

[2020-10-06 09:56] ywalia01 commented on #273
Id like to work on this

[2020-10-06 09:56] ywalia01 commented on #273
Id like to work on this

[2020-10-06 10:03] PrathamesR commented on #273
I would like to contribute to this project

[2020-10-06 10:17] kashc11 commented on #273
I'd like to contribute to this.

[2020-10-06 11:04] Rodolfo377 commented on #273
I would like to contribute to this project!

[2020-10-06 11:15] chiillax commented on #266
Could you please assign me for this task ?

[2020-10-06 11:16] chiillax commented on #251
Could you please assign me for this task ?

[2020-10-06 11:17] chiillax commented on #214
Could you please assign me for this task ?

[2020-10-06 11:17] chiillax commented on #193
Could you please assign me for this task ?

[2020-10-06 11:17] chiillax commented on #188
Could you please assign me for this task ?

[2020-10-06 11:18] chiillax commented on #177
Could you please assign me for this task ?

[2020-10-06 11:18] chiillax commented on #212
Could you please assign me for this task ?

[2020-10-06 11:19] ghost commented on #273
hey! I can contribute in python. please assign it to me

[2020-10-06 11:21] jain2anki opened #274 "Merge Sort"
**Title or Name of the Algorithm**
*Merge Sort*

**Describe the algorithm**
Merge Sort is a Divide and Conquer algorithm. It divides input array in two halves, calls itself for the two halves and then merges the two sorted halves. The merge() function is used for merging two halves. The merge(arr, l, m, r) is key process that assumes that arr[l..m] and arr[m+1..r] are sorted and merges the two sor

[2020-10-06 11:22] chiillax commented on #274
Could you please assign me for this task ?

[2020-10-06 11:24] jain2anki opened #275 "Longest Common Subsequence"
**Title or Name of the Algorithm**
*Longest Common Subsequence*

**Describe the algorithm**
Given two sequences, find the length of longest subsequence present in both of them. A subsequence is a sequence that appears in the same relative order, but not necessarily contiguous. For example, “abc”, “abg”, “bdf”, “aeg”, ‘”acefg”, .. etc are subsequences of “abcdefg”.

[2020-10-06 11:31] chiillax commented on #275
Could you please assign me for this task ?

[2020-10-06 11:39] Ayush-Mahajan opened #276 "Adding algos and DS in golang"
Hi,

I would like to add algos written in golang as its missing in this repo

[2020-10-06 11:41] gaurangisinha commented on #274
Hello, @jain2anki I want to solve this issue in C++. Could you please assign it to me?

[2020-10-06 11:49] rahulmishra11 commented on #275
Please Assign this task to me.

[2020-10-06 11:54] rahulmishra11 commented on #274
I am really interested to contribute to this. Please assign this task to me.

[2020-10-06 11:55] rahulmishra11 commented on #273
I want to contribute in C++. Please assign it to me.

[2020-10-06 11:57] ghost commented on #274
I want to write its code in c++.please assign this to me

[2020-10-06 12:01] rahulmishra11 commented on #266
Please assign this task to me.

[2020-10-06 13:16] arpoch commented on #274
I am interested to contribute in c++.

[2020-10-06 13:38] theAkashDas commented on #274
hello @jain2anki can I implement this using C ??

[2020-10-06 13:45] b35ri553n commented on #154
Hey, I can work on this. What type of linked list is provided?

[2020-10-06 13:48] meghanagottapu commented on #273
I want to contribute this in java.can I work on this? @reliable-raevi

[2020-10-06 15:11] MeetMangukiya7 commented on #274
I  would love to do this task. please assign this to me.
@jain2anki

[2020-10-06 15:14] MeetMangukiya7 commented on #273
I would love to do this. please assign this to me. @reliable-raevi

[2020-10-06 15:17] saifali99 commented on #274
@jain2anki  could you assign me this task I can do it in C++

[2020-10-06 15:19] MeetMangukiya7 commented on #177
I would love to do this. Also I Have depth knowledge in data structure and algorithm.

[2020-10-06 15:19] saifali99 commented on #273
@reliable-raevi I would like to contribute to this can you assign me this task

[2020-10-06 15:26] saifali99 commented on #275
I can do this could you assign me this.

[2020-10-06 16:48] purnimapal11 opened #280 "circular queue implementation"
circular queue implementation

implementation of circular queue using arrays

[2020-10-06 18:03] punitsharma077 commented on #280
Hi, i will implement this, make sure to look at it and accept the PR if it helps you.

[2020-10-06 18:10] punitsharma077 commented on #280
Hi, i will implement this, make sure to look at it, and create a pull request.

[2020-10-06 20:44] #17 closed, assigned to Bijoy-007

[2020-10-06 20:48] #124 closed, assigned to MohakChugh

[2020-10-06 21:00] #225 closed, assigned to danishjamal104, shreyanshdeep

[2020-10-07 12:07] Naziya-Parveen opened #289 "Reverse words in a string"
**Title or Name of the Algorithm**
* Reverse words in a string

**Describe the algorithm**
Reverse all words of a string
eg. input : This is a tree
      output : tree a is This

[2020-10-07 12:39] ghsayan commented on #289
would like to solve it in cpp

[2020-10-08 03:03] AparnaJuhi commented on #289
I want to solve in Python. Please assign it to me

[2020-10-08 09:31] pathak-abhinav commented on #218
Please review the new PR#292.

[2020-10-08 19:20] jatinAgarwala commented on #289
Please assign this to me. I will solve it using C

[2020-10-08 19:37] jatinAgarwala opened #293 "2-SAT Solver"
2-SAT Solver using Kosaraju's Algorithm

Description-
Solving a 2-CNF formula (2-Satisfiability) by creating the corresponding implication graph, using Kosaraju's algorithm to find the Directly Connected Components (DCCs) and solving the 2-SAT

Examples-

Input : F = (x1 V x2) ^ (x2 V x1'}) ^ (x1' V x2')
Output : The given expression is satisfiable.
         (for x1 = FALSE, x2 = TRUE)

Input : F

[2020-10-08 19:38] jatinAgarwala commented on #293
Please assign this to me.

[2020-10-08 19:43] jatinAgarwala opened #294 "Kosaraju's Algorithm"
Kosaraju's Algorithm

Kosaraju's algorithm is a linear time algorithm to find the strongly connected components of a directed graph.

[2020-10-08 19:43] jatinAgarwala commented on #294
Please assign this to me.

[2020-10-10 03:49] gunjan543 commented on #212
Please review my pull request.

[2020-10-10 08:06] BetaZeon commented on #212
Reviewed and merged.

[2020-10-10 08:07] BetaZeon commented on #212
Assigning you the issue but try it with the different way.

[2020-10-10 08:18] chiillax commented on #212
Please review & merge #296

[2020-10-10 10:08] rahulatrkm opened #297 "Doubly Linked list"
**Title or Name of the Algorithm**
* Doubly Linked List

**Describe the algorithm**
A Doubly Linked List (DLL) contains an extra pointer, typically called the previous pointer, together with the next pointer and data which are there in a singly linked list.

[2020-10-10 10:56] Pankaj05011998 commented on #297
Can you assign this to me?

[2020-10-11 08:33] pathak-abhinav commented on #218
I hope I have linked the PR to the issue properly this time, Is there still any problem in merging?

[2020-10-11 12:38] #289 closed, assigned to Naziya-Parveen

[2020-10-11 20:44] #242 closed, assigned to Kirtiahuja

[2020-10-11 20:45] Kirtiahuja commented on #242
Made a PR on issue number #242

[2020-10-12 02:46] Yukta-Jaiswal opened #301 "[NEW Algorithm]"
Floyd's cycle detection algorithm

Floyd's cycle-finding algorithm is a pointer algorithm that uses only two pointers, which move through the sequence at different speeds. It is also called the "tortoise and the hare algorithm", alluding to Aesop's fable of The Tortoise and the Hare.

[2020-10-13 02:27] rahulatrkm commented on #297
@shreyanshdeep Thank you for assigning this issue to me I have created the pull request for the same. Can you please check?

[2020-10-14 06:28] akshitagupta15june opened #302 "[NEW Algorithm]"
**Title or Name of the Algorithm**
* N-Queens

**Describe the algorithm**
The n-queens puzzle is the problem of placing n queens on an n×n chessboard such that no two queens attack each other.
![image](https://user-images.githubusercontent.com/57909583/95951666-792c1900-0e14-11eb-8c6f-24a1f5702198.png)

Given an integer n, return all distinct solutions to the n-queens puzzle.

Each solution contai

[2020-10-14 06:29] akshitagupta15june commented on #302
@shreyanshdeep please assign this to me

[2020-10-14 06:34] akshitagupta15june commented on #302
@shreyanshdeep I have created a pull request

[2020-10-14 10:37] RavirajWadnerkar opened #304 "SRTF"
**SRTF**
* Shortest Remaining Time First. This should be added to the OS directory.

**Description of the algorithm**
The process, whose remaining run time is shortest, is served first. This is a preemptive version of SJF scheduling.
* Decision Mode:
Preemptive: When a new process arrives, its total time is compared to the current process remaining run time. If the new job needs less time to finis

[2020-10-14 10:39] RavirajWadnerkar commented on #304
I would like to contribute to this issue. Please assign this to me.

[2020-10-14 13:47] manan2110 commented on #204
Please assign this one to me. I am a beginner And I can work on this , I know it well.

[2020-10-14 13:54] manan2110 opened #305 "Kadane's Algorithm"
Title or Name of the Algorithm :-
Kadane’s Algorithm

Describe the algorithm
It is an algorith used to calculate Largest Sum in Contiguous Subarray.
Simple idea of the Kadane’s algorithm is to look for all positive contiguous segments of the array , And keep track of maximum sum contiguous segment among all positive segments.
Algorithmic Paradigm: Dynamic Programming

[2020-10-14 13:58] manan2110 opened #306 "Strassen’s Matrix Multiplication"
**Title or Name of the Algorithm:-**
Strassen’s Matrix Multiplication

**Describe the algorithm:-**
In the  divide and conquer method of multipying matrices , the main component for high time complexity is 8 recursive calls. The idea of Strassen’s method is to reduce the number of recursive calls to 7.

[2020-10-15 17:07] Abhishek-7017 commented on #306
Please assign me this problem i can solve it

[2020-10-16 07:12] sharathkumar106 commented on #273
Hey! I would like to contribute my code using C language. Please assign me to solve this.

[2020-10-16 11:08] rishabharoraa opened #314 "XOR Linked List; traversal"
**XOR Linked List**

* In a doubly linked list, you store two pointers per node: prev and next. In an XOR linked list, you store one pointer per node, which is the XOR of prev and next, or if one of them is absent, just the other, which is the same as XORing with 0.
* The reason why you can still traverse an XOR linked list in both directions relies on the properties of XOR and the redundancy of i

[2020-10-16 11:09] rishabharoraa commented on #314
Please assign this issue to me

[2020-10-16 14:21] nikhilshukla07 opened #315 "Two Pointer Techniques"
**Title or Name of the Algorithm**
* Two pointer algorithms

**Describe the algorithm**
The two-pointer technique is a useful tool to utilize when searching for pairs in a sorted array. Although not it’s only use case, when used this technique can save both time and space complexity.

When iterating through data this usually implies a single starting point and movement through the data in one dire

[2020-10-16 14:22] nikhilshukla07 commented on #315
Please assign me this issue to work upon it will be very effective to include these kinds of algorithms in this cool repo.

[2020-10-18 05:25] apurvk4 opened #321 "binary heap"
**Title or Name of the Algorithm**
A header file to create both min Heap and Max heap.

**Describe the algorithm**
i want to add a header file which can create both min heap and max heap . the min heap or max heap class will be a generic class so users can create Heap for any type of  objects.

[2020-10-19 09:40] Gouriiseth opened #324 "insertion in linked list"
insertion in singly linked list

the algo is about the insertion of any no. in a singly linked list

[2020-10-22 17:17] Sindhu-321 commented on #324
Can I get this issue assigned?

[2020-10-24 07:21] iamatul45 opened #326 "Balanced Parenthesis Using Stack"
**Stacks**
* Balanced parentheses

**Describe the algorithm**
Algorithms that will tell us whether the parentheses in expression are balanced or not?

Can I work on this ?

[2020-10-24 07:28] iamatul45 opened #327 "Bit Manipulation"
**Bit Manipulation**
* Counting Set bits

**Describe the algorithm**
Algorithm uses bit masking techniques to count set bits with complexity of O(1).

Can I Work on this ?

[2020-10-24 07:44] chiillax commented on #326
Could you please assign me for this task ?

[2020-10-24 07:45] chiillax commented on #327
Could you please assign me for this task ?

[2020-10-24 09:07] pratyanshupandey commented on #301
Can you please assign this issue to me?

[2020-10-27 20:39] #218 closed, assigned to pathak-abhinav

[2020-10-27 20:46] #256 closed, assigned to nobody

[2020-10-29 04:33] iamatul45 commented on #327
@shreyanshdeep  can you please merge #325 I have added set_bits.cpp file and also added some dynamic programming problems.
hoping your kind reply.
thank you! : )

[2020-10-30 22:37] pratyanshupandey commented on #326
#330 Please check and merge

[2020-10-31 08:50] #204 closed, assigned to nobody

[2020-10-31 08:56] #142 closed, assigned to vinaypathak07

[2020-10-31 09:23] #297 closed, assigned to rahulatrkm

[2020-10-31 09:26] #304 closed, assigned to nobody

[2020-10-31 13:10] #214 closed, assigned to nobody

[2020-10-31 13:10] #212 closed, assigned to chiillax, gunjan543

[2020-10-31 13:12] #221 closed, assigned to Abhishek-7017

[2020-10-31 13:12] #231 closed, assigned to nobody

[2020-10-31 13:13] giTan7 commented on #274
can i do it in java?

[2020-10-31 13:13] #197 closed, assigned to nobody

[2020-10-31 13:16] #195 closed, assigned to nobody

[2020-10-31 13:17] #193 closed, assigned to nobody

[2020-10-31 13:17] #191 closed, assigned to H4R5H1T-007

[2020-10-31 13:19] #233 closed, assigned to nobody

[2020-10-31 13:19] #327 closed, assigned to iamatul45

[2020-10-31 13:19] #174 closed, assigned to nobody

[2020-10-31 13:19] #177 closed, assigned to nobody

[2020-10-31 13:19] #188 closed, assigned to nobody

[2020-10-31 13:19] #198 closed, assigned to nobody

[2020-10-31 13:19] #199 closed, assigned to nobody

[2020-10-31 13:19] #326 closed, assigned to nobody

[2020-10-31 13:20] #152 closed, assigned to nobody

[2020-10-31 13:20] #154 closed, assigned to nobody

[2020-10-31 13:20] #158 closed, assigned to nobody

[2020-10-31 13:20] #165 closed, assigned to nobody

[2020-10-31 13:20] #251 closed, assigned to nobody

[2020-10-31 13:20] #252 closed, assigned to nobody

[2020-10-31 13:20] #266 closed, assigned to nobody

[2020-10-31 13:20] #270 closed, assigned to umangag07

[2020-10-31 13:20] #273 closed, assigned to nobody

[2020-10-31 13:20] #274 closed, assigned to nobody

[2020-10-31 13:20] #275 closed, assigned to nobody

[2020-10-31 13:20] #276 closed, assigned to nobody

[2020-10-31 13:20] #280 closed, assigned to nobody

[2020-10-31 13:20] #293 closed, assigned to nobody

[2020-10-31 13:20] #294 closed, assigned to jatinAgarwala

[2020-10-31 13:21] #36 closed, assigned to dhruv-singhal-github

[2020-10-31 13:21] #55 closed, assigned to ankur-kayal

[2020-10-31 13:21] #87 closed, assigned to M-Akhil-pavan-sai

[2020-10-31 13:21] #90 closed, assigned to sakshi0461

[2020-10-31 13:21] #92 closed, assigned to nobody

[2020-10-31 13:21] #121 closed, assigned to aayushwadhwa1

[2020-10-31 13:21] #122 closed, assigned to nobody

[2020-10-31 13:21] #123 closed, assigned to vortex2099

[2020-10-31 13:21] #131 closed, assigned to mahimagoyalx

[2020-10-31 13:21] #132 closed, assigned to mahimagoyalx

[2020-10-31 13:21] #133 closed, assigned to Bijoy-007

[2020-10-31 13:22] #26 closed, assigned to Rituraj-commits

[2020-10-31 13:22] #29 closed, assigned to dhruv-singhal-github

[2020-10-31 13:22] #35 closed, assigned to yuktagopalani

[2020-10-31 13:22] #143 closed, assigned to nobody

[2020-10-31 13:22] #144 closed, assigned to nobody

[2020-10-31 13:22] #151 closed, assigned to nobody

[2020-11-12 04:26] HackMEAny commented on #324
Can I work in this

[2020-11-12 09:19] Gouriiseth commented on #324
Yaa sure

On Thu, 12 Nov 2020, 09:56 HackMEAny, <notifications@github.com> wrote:

[2021-01-21 20:07] codebloded opened #336 "Floyd's Algorithm"
**Title or Name of the Algorithm**
*Floyd's Algorithm

**Describe the algorithm**
Floyd's algorithm is used for  detection and removal of a cycle in a linked list